<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/paper.css' />
    <link rel='stylesheet' href='/stylesheets/paper.min.css' />
  </head>
  <body>